<div id="friends">
  <a href="/portal/divulgue">+</a>
  <a href="http://br-linux.org" target="_blank">BR-Linux</a>
  <a href="http://www.vivaolinux.com.br" target="_blank">VivaoLinux</a>
  <a href="http://www.revista.espiritolivre.org" target="_blank">Revista Espírito Livre</a>
  <a href="http://www.dicas-l.com.br" target="_blank">Dicas-L</a>
  <a href="http://sejalivre.org" target="_blank">Seja Livre</a>
  <a href="http://www.underlinux.com.br" target="_blank">UnderLinux</a>
  <a href="http://www.sempreupdate.com.br" target="_blank">SempreUpdate</a>
</div><!-- end id="friends" -->
<div id="banner-header">
  <a href="#"></a>
</div>
<div id="external-pages">
  <ul>
    <li><a id="blogoosfero" title="Blogoosfero" href="http://blogoosfero.cc/software-livre" target="_blank"><span>Blogoosfero</span></a></li>
    <li><a id="twitter" title="Twitter" href="https://twitter.com/PSLBrasil" target="_blank"><span>Twitter</span></a></li>
    <li><a id="diaspora" title="Diaspora" href="https://diasporabr.com.br/u/pslbrasil" target="_blank"><span>diasporaBR</span></a></li>
    <li><a id="feed" title="Feed" href="http://softwarelivre.org/portal/feed"><span>Feed</span></a></li>
  </ul>
</div>
