@import url(../base/style.css);
@import url(audio-js/audio-js.css);

@font-face {
    font-family: 'SansationFont';
    src: url('fonts/sansation/sansation-regular.eot');
    src: url('fonts/sansation/sansation-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation/sansation-regular.woff') format('woff'),
         url('fonts/sansation/sansation-regular.ttf') format('truetype'),
         url('fonts/sansation/sansation-regular.svg#SansationFont') format('svg');
    font-weight: normal;
    font-style: normal; 
}


/*CSS FadeIn Animation*/
@-webkit-keyframes fadeIn {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

/*CSS Shake Animation*/

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

/* ==> layout.css <== */

body {
  background-color: #EEE;
  font-family: Liberation Sans, Arial, sans-serif;
  width: 960px;
  margin: auto;
}

body, th, td, input {
  font-size: 12px;
}

#link-go-content {
  position: absolute;
  top: -100px;
}

#wrap-1{
  width: 960px;
}

#wrap-2 {
  width: 960px;
  padding: 10px;
  position: relative;
  border: none;
  background-color: white;
  border-top: none;
}

.action-home-index #wrap-2 {
  height: 1490px;
}

#content {
  margin-top: 89px;
}

.action-home-index #content {
  margin-top: 168px;
}

div.no-boxes,
#boxes {
  margin-top: 50px;
}

.action-home-index #boxes{
  margin-top: 0px;
}

#profile-header {
  max-height: 220px;
  margin-left: -10px;
  overflow: visible;
}

#theme-header {
  height: 30px;
  width: 980px;
  background-color: #99cd4e;
  border: none;
  border-bottom: none;
}

#content .link-list-block li a.link-this-page{
  width:165px;
}

/************************** Profile balloon ****************************/

.action-home-index #content .action-friends-index .profile-list li,
.action-home-index #content .common-profile-list-block .vcard {
  border: 1px solid #fff;
  list-style: none;
  width: 50px;
  height: 50px;
  background-color: #f1f9eb;
  padding:5px;
}

.action-home-index #content .action-friends-index .profile-list li:hover,
.action-home-index #content .common-profile-list-block .vcard:hover {
  border: 1px solid #fff;
  background: #fadc80;
  text-decoration: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  
}


#content .common-profile-list-block .vcard a,
#content .common-profile-list-block .vcard a:hover {
  border: 0;
}

.browse-results-innerbox ul {
  padding:0;
}

.controller-browse #content .search_form {
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 12px 15px;
}

/*********** HightLight Block *****************/

.action-home-index .highlights-block,
.action-environment_design-index .highlights-block{
  width: 990px;
  height: 130px;
  position: absolute;
  left: -15px;
}

.action-home-index .highlights-container,
.action-environment_design-index .highlights-container{
  background: transparent;
  border: none;
  height: 130px !important;
  width: 990px !important;
}

.action-home-index .highlights-label,
.action-environment_design-index .highlights-label,
.action-home-index .highlights-block-footer,
.action-environment_design-index .highlights-block-footer{
  display: none;
}

/*************************** friends *********************************/

#friends {
  top: 3px;
  margin-left: 5px;
  position: absolute;
  margin: 6px;
  font-size: 10px;
  z-index: 10;
  width: 1024px;
}

#friends a {
  margin-right: 2px;
  margin-top: 2px;
  color: #374837;
  text-decoration: none;
  padding: 6px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px;
  font-size: 11px;
}
#friends a:hover {
  color: #333;
  text-decoration: none;
  background-color: #b0d875;
  border: 1px solid #b1d978;
  padding: 5px;
}

/*************************** user bar ********************************/

#user {
  text-align: right;
  position: absolute;
  background-color: #EEE;
  padding-left: 5px;
  right: 5px;
  z-index: 10;
  background-color: transparent;
  margin-top: 30px;
}

.action-home-index #user {
  margin-top: 105px;
}

#user a strong,
#user a {
  text-decoration: none;
  position: relative;
  color: #374837;
}

#controlpanel, #logout, #manage-enterprises {
  margin-left: 25px;
}
#manage-enterprises .simplemenu-trigger {
  text-decoration: underline;
}

#user a i {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -17px;
  top: -1px;
}

#user .logged-in > * {
  margin-left: 25px;
}

.msie6 #user a i {
  left: 8px;
  top: 3px;
}
.msie7 #user a i {
  top: 3px;
}

#user .welcome {
  display: none;
}

ul.simplemenu-submenu.opened {
  background-color: #C4E299;
  border-color: #374837;
  padding: 0px;
}

ul.simplemenu-submenu.opened li.simplemenu-item a {
  margin-left: 10px;
}

/*************************** search bar ********************************/
.action-home-index #wrap-2 #search-bar {
  display: block;
  z-index: 11;
}

#search-bar {
  position: absolute;
  text-align: right;
  right: 5px;
  top: 5px;
  z-index: 11;
}

/* Hiding form search while it is disabled */
#user #top-search,
.action-home-index #wrap-2 #search-bar,
#wrap-2 #search-bar {
  display: none;
}

#search-bar form {
  height: 35px;
  width: 200px;
  background: none;
  background-position: -140px -5px;
}

#search-bar form.focused,
#search-bar form:hover {
  background-position: -140px -40px;
}

#search-bar form input {
  width: 160px;
  height: 20px;
  border: 1px solid #BBB;
  padding-left: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #CCC;
}
#search-bar form.focused input {
  border: 1px solid #888;
  color: #555;
}

#search-bar form div {
  font-size: 11px;
  color: #FFF;
  margin-top: 5px;
  padding: 5px;
  visibility: hidden;
  text-align: center;
  background: #60AA00;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#search-bar form.focused div {
  visibility: visible;
}

/***************************** footer ********************************/

#theme-footer {
  
  padding: 90px 0px 0px 0px;
  font-size: 11px;
  color: #555;
  margin-top: -25px;
  background: url(images/bg-footer.png) 0px 24px repeat-x;
  position: relative;
  border: none;
  min-width: 982px;
  font-family: 'SansationFont';
  float: left;
  z-index: 1;
  margin-bottom: 0px;
  max-height: 300px;
}

#theme-footer a {
  color: #333;
  text-decoration: none;
}
#theme-footer a:hover {
  color: #222;
  text-decoration: underline;
}

#footer-links {
  text-align: left;
  float: left;
  background: url(images/bg-footer-flag.png) 0px 10px no-repeat;
  width: 1110px;
  margin-top: -88px;
  padding-top: 130px;
  margin-left: -35px;
  padding-left: 35px;
}

#footer-links a {
  color: black;
  margin-right: 8px;
  margin-top: 5px;
}

#footer-links h3 {
  margin: 0px;
  padding: 0px;
  color: #dfdfdf;
  font-size: 17px;
  margin-left: -15px;
  /* margin-top: 0px; */
}

#footer-links ul h3 {
  color: #FFF;
  text-align: center;
  min-width: 102px;
}

#footer-links ul {
  margin: 10px;
  padding: 0;
  padding-right: 30px;
  float: left;
  display: block;
  list-style: none;
  height: 100px;
  text-align: center;
}

#footer-links ul li {
  margin-top: 7px;
}

#footer-links a#slbr {
  display: block;
  float: left;
  background: url(images/footer-title.png) 0 0 no-repeat;
  max-width: 225px;
  width: 225px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  top: -10px
}

#slbr span {
  position: absolute;
  top: -100px;
}

ul#slbr-footer {
  display: block;
  width: 250px;
  padding-right: 0px;
  height: 100px;
}

#slbr-footer a {
  color: #dfdfdf;
}

#slbr-footer a:hover {
  color: #FFF;
  text-decoration: none;
}

ul#apoio-footer {
  border-right: none;
  border: none;
}

ul#apoio-footer span{
  display:none;
}

ul#apoio-footer li {
  padding: 0px;
  text-align: center;
}

ul#apoio-footer img {
  max-width: 210px;
  max-height: 105px;
}

#slbr-footer li {
  float: left;
  padding: 5px;
  margin: 0px;
}

#copyright {
  height: 40px;
  text-align: right;
  clear: both;
  padding-top: 30px;
  padding-right: 10px;
}
#copyright p {
  margin: 5px 0;
}

#noosfero-license {
  margin-bottom: 1em;
}

div.no_media_panel {
  margin: 0px;
}

div#notice {
  right: 50%;
  margin-right: -470px;
}

/*************************navigation bar ***************************/

#navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  padding-top: 60px;
  text-align: center;
  background: #99cd4e;
  height: auto;
}

.action-home-index #navigation {
  padding-top: 140px;
}

#navigation-end {
  display: none;
}

.msie6 #navigation {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader
          (src='imgs/menu-top-bg-left.png', sizingMethod='scale');
}

.msie6 #navigation-end {
  right: -1px;
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader
          (src='imgs/menu-top-bg-right.png', sizingMethod='scale');
}


#navigation ul {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  float: none;
  position: absolute;
}

#navigation > ul {
  height: 35px;
  background-color: #C4e299;
  width: 100%;
  border: none;
  border-top: 2px solid #fff;
}

.action-home-index #navigation > ul {
}

#navigation li {
  list-style: none;
  margin: 0px;
  height: auto;
  width: 126px;
}

#navigation > ul > li {
  position: relative;
  border-left: 2px solid #fff;
  float: right;
  display: block;
  text-align: center;
  z-index:10;
}

#navigation #date-time {
  border: none;
  color: #006680;
  font-size: 14px;
  line-height: 35px;
  width: 100px;
  font-family: 'SansationFont';
  padding-left: 20px;
  text-align: left;
}

#navigation li#browse{
  margin-left: 212px;
}

#navigation a {
  border: none;
  display: block;
  font-size: 14px;
  color: #FFF;
  width: 126px;
  height: 35px;
  line-height: 38px;
}

#navigation a:hover{
  background: none;
}

#navigation a#submenu-people {
  height: 35px;
}

#navigation li:hover a#submenu-people, #navigation li:hover a#submenu-communities, #navigation li:hover a#submenu-contents, #navigation li:hover a#submenu-events, #navigation li:hover a#submenu-about {
  background-color:  #EBF7E3;
  width: 126px;
  color: #374837;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#navigation a#submenu-communities {
  height: 35px;
}

#navigation a#submenu-contents {
  height: 35px;
}

#navigation a#submenu-events {
  height: 35px;
}

#navigation span {
  position: absolute;
  padding: 3px;
  padding-top: 8px;
  margin: 0px;
  line-height: normal;
  font-size: 16px;
  background: none;
  z-index: 13;
  display: block;
  color: #374837;
  top: 0px;
  left: 0px;
  font-family: 'SansationFont';
  
}

#navigation ul span{
  width: 120px;
}

#navigation li:hover a span { display: block; }

#navigation .menu-submenu ul, #navigation .menu-submenu li {
  float: none;
  border-left: 0px;
  height: 25px;
}

#navigation .menu-submenu ul {
  border: none;
  background-color: #C4e299;
  padding-right: 2px;
  height: auto;
  display: block;
  padding-top: 25px;
}

#navigation .menu-submenu {
  bottom: -75px;
  width: 126px;
  top: 0px;
  right: 0px;
  position: relative;
  z-index: 10;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

#navigation .menu-submenu a {
  padding: 4px 2px;
  width: 126px;
  font-size: 12px;
  line-height: normal;
  border: 0;
  color: #374837;
  text-align: left;
}

.msie7 #navigation .menu-submenu a {
  width: 126px;
  margin-right: 2px;
  right: 2px;
}

.msie7 .block .menu-submenu-trigger,
.msie7 #search-results .menu-submenu-trigger,
.msie7 #browse-results .menu-submenu-trigger {
  width: 20px !important;
}

#navigation li .menu-submenu-trigger {
  top:35px;
}

#navigation li .menu-submenu-trigger,
#navigation .menu-submenu-header,
#navigation .menu-submenu-footer,
#navigation .menu-submenu h4 {
  display: none;
  border: none;
}

#navigation li:hover .menu-submenu-trigger {
  display: block;
  background-color: #ebf7e9;
  width: 126px;
  border: 2px solid #fff;
  border-top: none;
  margin-left: -2px;
}

#navigation li:hover .menu-submenu-trigger:hover {
  background-color: #C4e299;
}

#navigation li:hover .menu-submenu-list li a:hover{
  background-color: #ebf7e9;
  color: #374837;
  width: 122px;
  height: 15px;
}

#navigation li:hover a#submenu-communities-trigger span, #navigation li:hover a#submenu-people-trigger span{
  display: none;
}

#navigation .menu-submenu-footer {

}

/*************************** logo ************************************/

#site-title {
  padding: 0px;
  position: absolute;
  top: -12px;
  left: 120px;
  z-index: 7;
  overflow: hidden;
  width: 132px;
  height: 108px;
  background: url(images/psl-logo.png) no-repeat;
  background-size: 132px 108px;
}

.action-home-index #site-title {
  left: 90px;
  width: 220px;
  height: 180px;
  top: 0px;
  background-size: 220px 180px;
}

.msie6 #site-title {
  left: -10px;
}

#site-title a {
  display: block;
  width: 132px;
  height: 108px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.action-home-index #site-title a {
  display: block;
  width: 220px;
  height: 180px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#site-title span {
  font-size: 1px;
  position: absolute;
  top: -200px;
}

/************************** external pages bar ***********************/

#external-pages{
  position: relative;
  height: 20px;
  z-index: 7;
  width: 400px;
  text-align: center;
  top: 30px;
  float: right;
  right: -29px;
}

.action-home-index #external-pages{
  top: 53px;
}

.action-home-index #external-pages{
  top: 100px;
}

#external-pages ul{
  display: table-row;
  float: right;
  margin-right: 30px;
}

#external-pages ul li{
  float: right;
  list-style: none;
  margin-right: 5px;
}

#external-pages li a{
  height: 22px;
  padding: 0px;
  display: inline-block;
  background-repeat: no-repeat;
}

#external-pages span{
  display: none;  
}

#external-pages a:hover{
  background-position: 0px -29px;
}

#external-pages #diaspora{
  background-image: url('images/icon-diasp.png');
  width: 22px;
}

#external-pages #facebook{
  background-image: url('images/icon-fb.png');
  width: 20px;
}

#external-pages #twitter{
  background-image: url('images/icon-tw-redondo.png');
  width: 23px;
}

#external-pages #identica{
  background-image: url('images/icon-id.png');
  width: 21px;
}

#external-pages #blogoosfero{
  background-image: url('images/icon-blog.png');
  width: 17px;
}

#external-pages #feed{
  background-image: url('images/icon-feed.png');
  width: 20px;
}

#external-pages #unb{
  background-image: url('images/icon-unb.png');
  width: 22px;
}

#external-pages #usp{
  background-image: url('images/icon-usp.png');
  width: 44px;
}

/************************** banner header ****************************/
#banner-header{
  display:none;
}


.action-home-index #banner-header{
  position: absolute;
  top: 30px;
  height: 64px;
  width: 235px;
  z-index: 7;
  background: url('images/banner-header.png') no-repeat;
  margin-left: 730px;
  display:none;
}

/********************************* BLOCKS ***************************/

.action-home-index #content .block{
  margin: 0px;
}

/********************************* main block ***************************/

.action-home-index #content .main-block{
  width: 515px;
  height: 450px;
  position: absolute;
  border-right: 1px solid #bec8b7;
  border-bottom: 1px solid #bec8b7;
  background-color: #fff;
  margin: -450px 0 0 -10px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s; /* Safari */
}
.action-environment_design-index .main-block{
  margin-top: 0px;
}

.action-home-index #content .main-block:hover{	
  width: 730px;
}

.action-home-index #content .block-title{
  color: #336b74;
  font-family: 'SansationFont';
  font-size: 16px;
  font-variant: normal;
  border-bottom: 1px solid #336b74;
  text-decoration:none;
  padding-top: 1px;
  margin:auto;
}

.action-home-index .main-block:hover #portal-news {
  display:block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.action-home-index #content .block-title span{
  margin-left:10px;
}

#main-content-wrapper-1, #main-content-wrapper-2, #main-content-wrapper-3, #main-content-wrapper-4, #main-content-wrapper-5, #main-content-wrapper-6, #main-content-wrapper-7, #main-content-wrapper-8{
  background-image: none;
}

#main-content-wrapper-8{
 padding: 0px;
}

.action-home-index .box-1 {
  position: relative;
  margin: 0px;
}

.action-home-index .box-1 .blocks {
width: 100%;
float: left;
padding: 0px;
margin: 0px;
border: none;
}

.blog{
  margin-left:10px;
}

.blog-post, #article .article-body{
  background: none;
  font-size: 16px;
}

.blog-feed-link{
  margin-top:-5px;
}

.action-home-index #content .main-block #highlighted-news{
  width: 515px;
  height: 438px;
  position: absolute;
}

.action-home-index #content .main-block h1{
  display: block;
  width: 494px;
  top: 289px;
  position: absolute;
  z-index: 10;
  border-top: 1px solid #bec8b7;
  border-bottom: none;
  font-family: SansationFont;
  font-size: 18px;
  font-variant: normal;
  padding-top: 10px;
  color: #336b74;
  padding-left: 20px;
  
}
.action-home-index #highlighted-news .post-date{
  display: none;
  width: 500px;
  top: 300px;
}

.action-home-index #content .main-block #highlighted-news .highlighted-news-read-more{
  float: right;
  height: 20px;
  display: block;
  color: #336b74;
  position: absolute;
  top: 395px;
  right: 15px;
}

.action-home-index #content .main-block #highlighted-news .post-2 p.highlighted-news-read-more {
  display: none;
}

.action-home-index #content .main-block .highlighted-news-item {
  border-top: none;
  width: 515px;
  float: left;
}

#highlighted-pic {
  height: 300px;
  margin: 0;
  background-color: #777;
  background-size: cover;
  background-position: 50% 30%;
}

.action-home-index #content .main-block #highlighted-news h2 {
  display: block;
  width: auto;
  line-height: 20px;
  margin: 30px 0 0 10px;
  text-align: start;
  color: #004455;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top:5px;
  border-top: 1px solid #336b74;
}
.action-home-index #content .main-block #highlighted-news .post-1 h2 a.post-title {
  margin: 0;
}

.action-home-index #content .main-block #highlighted-news .headline {
  position: relative;
  top: 0px;
  left: 0px;
  width: auto;
  max-height: 42px;
  overflow: hidden;
  padding: 0 10px;
  text-align: justify;
}

.action-home-index #content .main-block #highlighted-news .post-2 h2 {
  width: auto;
  margin: 0px -1px 0px 0px;
  border-color: #ccc;
  color: #689;
  padding: 1px;
  border: 1px solid #ccc;
}

.action-home-index #content .main-block #highlighted-news .post-2 h2 a.post-title{
  display: block;
  padding-left: 8px;
  color: #367;
  background-color: #ddd;
}

.action-home-index #content .main-block #highlighted-news .post-2 h2:hover a.post-title{
  background-color: #eee;
  color: #367;
}

.action-home-index #content .main-block #highlighted-news .post-2 .headline{
  display: none;
}

.action-home-index #content .main-block .post-title{
  text-decoration: none;
  margin-left: 0px;
  font-size:  16px;
}

.action-home-index #content .main-block #highlighted-news .headline p {
  margin: 0px;
  line-height: 14px;
}

.action-home-index #content .news-area h3{
  background-color: #fff;
  color: #336b74;
  font-family: 'SansationFont';
  font-size: 14px;
  font-variant: normal;
  text-decoration:none;
  padding-bottom: 3px;
}

.action-home-index #content .news-area a{
  margin-left: 3px;
  text-decoration:none;
  color: #336b74;
}

.action-home-index .news-area ul{
  border: 1px solid #fff;
  padding: 3px 0px 0px 10px;
  background: none;
  background-color: #f1f9eb;
  border-top: 1px solid #336b74;
}

.action-home-index .news-area{
  display: block;
  margin-left: 260px;
  width: 456px;
}

.action-home-index .news-area.even{
  margin-top: 783px;
}

.action-home-index .news-area.odd{
    float: left;
    margin-top: 1px;
    border-bottom: 1px solid #bec8b7;
}

.action-home-index .main-block #portal-news{
  border-left: 1px solid #ccc;
  font-size: 11px;
  width: 214px;
  height: 450px;
  display:none;
  position:absolute;
  right: 0;
}

.action-home-index #content #portal-news .post-title{
  font-size:  12px;
}
.action-home-index #content #portal-news li{
  opacity: 0.7;
}

.action-home-index #content #portal-news li:hover{
  opacity: 1;
}

.action-home-index #portal-news ul {
  border: none;
  padding: 5px;
}

.action-home-index #portal-news .post-date {
  color:#E68A00;
  padding-right: 5px;
}

/********************************* banners ***************************/
#banner-1 span, #banner-2 span, 
#banner-4 span, #banner-5 span,
#banner-6 span, #banner-7 span{
  display:none;
}

.action-home-index #banner-1, 
.action-home-index #banner-2{
  width: 190px;
  height: 190px;
  margin-left: 504px;
  padding: 15px 14px 14px 14px;
}

#banner-1 a{
  width: 190px;
  height: 190px;
}

.action-home-index #banner-4{
  width: 468px;
  height: 223px;
  margin-left: 240px;
  padding: 36px 18px 0px 18px;
  border-bottom: 1px solid #bec8b7;
  margin-top: -23px;
}

.action-home-index #banner-5{
  width: 484px;
  height: 70px;
  padding: 4px;
  margin-top: 1073px;
  position: absolute;
  margin-left: -11px;
  border-top: 1px solid #bec8b7;
}

.action-home-index #banner-6{
  width: 483px;
  height: 70px;
  padding: 4px;
  margin-top: 1073px;
  position: absolute;
  margin-left:-241px;
  border-top: 1px solid #bec8b7; 
}

.action-home-index #banner-7{
  width: 974px;
  height: 70px;
  padding: 4px;
  margin-top: 1150px;
  position: absolute;
  margin-left: -11px;
}

#banner-1 img,
#banner-2 img,
#banner-5 img,
#banner-4 img,
#banner-6 img,
#banner-7 img{
  display: block;
  margin: auto;
}

#banner-4 img{
  margin-right: 60px;
};

.action-home-index #banner-1:hover,
.action-home-index #banner-2:hover,
.action-home-index #banner-4:hover,
.action-home-index #banner-5:hover,
.action-home-index #banner-6:hover, 
.action-home-index #banner-7:hover{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.action-home-index #banner-1:hover, 
.action-home-index #banner-2:hover{
  background-color: #f1f9eb;
  border: 1px solid #fff;
  padding: 14px 13px 13px 13px;
  
}

.action-home-index #banner-4:hover {
  border: 1px solid #fff;
  padding: 16px 1px 0px 17px;
  border-bottom: 1px solid #bec8b7;
  background-color: #f1f9eb;
  margin-top: -4px;
}

.action-home-index #banner-5:hover,
.action-home-index #banner-6:hover,
.action-home-index #banner-7:hover{
  background-color: #f1f9eb;
  border: 1px solid #fff;
  padding: 3px;
}

.action-home-index #banner-5:hover,
.action-home-index #banner-7:hover{
  border-left: 1px solid #bec8b7;
}

.action-home-index #banner-6:hover,
.action-home-index #banner-7:hover{  
  border-right: 1px solid #bec8b7;
}

.action-home-index #banner-5:hover,
.action-home-index #banner-6:hover{
 border-top: 1px solid #bec8b7;
 padding-top: 4px;
}

/******* Box 3 ********/
.action-home-index #content .box.box-3{
  z-index:7;
  margin-top: 12px;
}

.action-home-index #content .box.box-3 .block{
  position: absolute;
  width: 249px;
  margin-left: -50px;
  height: 218px;
  background-color: #fff;
  transition: width 1s, margin 1s;
  -webkit-transition: width 1s, margin 1s; /* Safari */
  border:  1px solid #bec8b7;
  border-right: none;
  border-top: none;
}

.action-home-index #content .recent-documents-block{
  display: none;
}

/********************* Article Block*********************/

.action-home-index #content .box.box-3 .block.article-block{
  background: #fff url('images/tv-livre.png') 20% 92% no-repeat;
  background-size: 75px;
  margin-top: -12px;
}

.action-home-index #content .box.box-3 .block.article-block:hover{
  margin-left: -265px;
  width: 464px;
}

.action-home-index #content .box.box-3 .block.article-block h3.block-title{
  display: block;
  height: 24px;
  width: 208px;
  z-index: 7;
  background-color: #fff;
  margin-top: 75px;
  margin-left: -87px;
  position: absolute;
  border-bottom: 1px solid #bec8b7;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  padding-top: 9px;
}

.action-home-index #content .box.box-3 .block.article-block:hover h3.block-title{
  border-bottom: 1px solid #336b74;
}

.action-home-index #content .box.box-3 .block.article-block p {
  margin-left: 40px;
  width: 160px;
  height: 155px;
  overflow: hidden;
} 

.action-home-index #content .box.box-3 .block.article-block .read-more, 
.action-home-index #content .box.box-3 .block.article-block .read-more span{
  display: block;
  width: 160px;
  position:absolute;
  top: 176px;
  float: right;
  right: -80px;
  font-family: 'SansationFont';
  color: #006680;
  font-size: 14px;
}

.action-home-index #content .box.box-3 .block.article-block .video{
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 188px;
  right: 1px;
  z-index: 0;
  top: -3px;
}

.action-home-index #content .box.box-3 .block.article-block .video video{
  width: 250px;
  margin-top: 10px;
  margin-left: 1px;
}


.action-home-index #content .box.box-3 .block.article-block:hover p span{
  position: relative;
  margin-left: 50px;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  display: block;  /* Fallback for non-webkit */      
  display: -webkit-box;
  height: 163px; /* Fallback for non-webkit */
  font-size: 12px;      
  line-height: 1.4;      
  -webkit-line-clamp: 10;      
  -webkit-box-orient: vertical;      
  overflow: hidden;      
  text-overflow: ellipsis;
}



/*************************** Link List *******************************/

.action-home-index .link-list-block .empty {
  display: none;
}

.action-home-index #content .box.box-3 .link-list-block{
  position: absolute;
  margin-top:207px;
  height: 230px;
  border-bottom: 1px solid #fff;
}

.action-home-index #content .box.box-3 .link-list-block h3.block-title{
  display: none;
  height: 15px;
  width: 240px;
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.action-home-index #content .box.box-3 .link-list-block ul {
  background: none;
  padding:10px;
  width: 230px;
}

.action-home-index #content .box.box-3 .link-list-block li {
  background: #d7e3f4;
  padding: 0px;
  margin: 5px 0px;
  list-style: none;
}

.action-home-index #content .box.box-3 .link-list-block li:hover {
  background: #afc6e9;
}

.action-home-index #content .box.box-3 .link-list-block li a {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  background-color: transparent;
  background-image: none;
  padding-left: 5px;
  text-decoration:none;
}

.action-home-index #content .box.box-3 .link-list-block li a.link-this-page {
  background-color: transparent;
  max-width: 165px;
  width: 165px;
  border-right: 1px solid #60AA00;
}


.action-home-index #content .box.box-3 .link-list-block li:hover a {
  background-color: transparent;
  color: #FFF;
  text-decoration: none;
}

.action-home-index #content .box.box-3 .link-list-block li a.link-this-page:hover {
  border-right: 1px solid #460;
}


/*************************** login block *****************************/
.action-home-index #content .box.box-3 .login-block{
  position: absolute;
  margin-top: 514px;
  height: 228px;
  width: 201px;
  right: -10px;
  padding: 5px;
  border-bottom: 1px solid #bec8b7;
  border: none;
}

.action-home-index #content .box.box-3 .login-block h2{
  color: #336b74;
  font-family: 'SansationFont';
  font-size: 14px;
  font-variant: normal;
  border-bottom: 1px solid #336b74;
  text-decoration: none;
  padding-bottom: 0px;
  margin: 0;
  padding-top: 6px;
}

/************************* navigation bar 2 *******************/
.action-home-index #navigation-bar-2{
  background-color: #e3f4d7;
  height: 75px;
  width: 980px;
  margin-left: -10px;
  margin-top: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-image: url('images/navigation-2-op-2.png');
}

#navigation-bar-2 ul{
  float: left;
  list-style: none;
  width: 100%;
  margin: 0px 0px 0px -30px; 
}

#navigation-bar-2 ul li{
  position: relative;
  display: inline-block;
  width: 49%;
  height: 75px;
  top: 0px;
}

#navigation-bar-2 ul li a{
  display: inline-block;
  height: 55px;
  width: 145px;
  margin-top: 13px;
}

#navigation-bar-2 ul li a#submit-news{
  background: url('images/icon-submit-news.png') no-repeat;
  float:left;
}

#navigation-bar-2 ul li a#contribute{
  background: url('images/icon-contribute.png') no-repeat;
  float: right;
}

#navigation-bar-2 ul li a#contribute:hover, 
#navigation-bar-2 ul li a#contribute:focus,
#navigation-bar-2 ul li a#submit-news:hover, 
#navigation-bar-2 ul li a#submit-news:focus{
  -webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#navigation-bar-2 ul li span{
  display:none;
}

.action-home-index #content .block.people-block .menu-submenu-trigger,
.action-home-index #content .box.box-3 .block.communities-block .menu-submenu-trigger{
  display:none;  
}

.action-home-index #content .block.people-block, 
.action-home-index #content .box.box-3 .block.communities-block{
  position: absolute;
  width: 243px;
  padding: 9px;
  margin-top: 752px;
  height: 291px;
  background-color: #fff;
  border: none;
  border-top: 1px solid #bec8b7;
  padding-top: 18px;
}

.action-home-index #content .block.people-block:hover, 
.action-home-index #content .box.box-3 .block.communities-block:hover{
  background-color: #f1f9eb;
  border-top: 1px solid #bec8b7;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.action-home-index #content .block.people-block a span, 
.action-home-index #content .box.box-3 .block.communities-block a span{
  display: none;
}

.action-home-index #content .block.people-block span.profile-image, 
.action-home-index #content .box.box-3 .block.communities-block span.profile-image{
  display:block;
  margin-left: -6px;
  margin-top: -2px;
}

.action-home-index #content .box.box-3 .block.communities-block{
  right: -10px;
  max-width: 300px;
}

.action-home-index #content .block.people-block{
  z-index: 1;
  left: -10px;
  border-left: none;
}

.action-home-index #content .people-block ul, #content .profile-list-block ul, 
.action-home-index #content .enterprises-block ul, #content .members-block ul, 
.action-home-index #content .box.box-3 .communities-block ul, #content .friends-block ul, #content .fans-block ul {
  float: left;
  display: block;
  width: 248px;
}

.action-home-index #content .people-block .block-footer-content a, 
.action-home-index #content .box.box-3 .communities-block .block-footer-content a{
  top: 20px;
  right: 10px;
}
/************ Box 2 ********************/

.action-home-index #content .box.box-2{
  z-index:1;
  margin-top: 12px;
}

/************** Agenda ****************/

.action-home-index #content #agenda {
  position: absolute;
  margin-top: 513px;
  margin-left: -10px;
  width: 460px;
  border-right: 1px solid #bec8b7;
  padding-left: 20px;
  padding-top: 10px;
  height: 228px;
  background: #fff;
  z-index: 2;
}

.action-environment_design-index #box-organizer #agenda #aba-1,
.action-home-index #content #agenda #aba-1{
  float: left;
  width: 210px;
}

.action-environment_design-index #box-organizer #agenda #aba-2,
.action-home-index #content #agenda #aba-2{
  border-left: 1px solid #004455;
  width: 230px;
}

.action-environment_design-index #box-organizer #agenda #aba-2, 
.action-environment_design-index #box-organizer #agenda center,
.action-home-index #content #agenda #aba-2, #content #agenda center{
  display: block;
  float: right;
  right: 3px;
  height: 199px;
  padding-left: 10px;
  padding-right: 5px;
}

.action-environment_design-index #box-organizer #agenda h3.block-title,
.action-home-index #content #agenda h3.block-title{
  text-align: center;
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #336b74;
  margin-right: 5px;
}

.action-environment_design-index #box-organizer #agenda p,
.action-home-index #content #agenda p{
  color: #374837;
}

.action-home-index #content #agenda p:hover,
.action-home-index #content #agenda a:hover{
  color: #006680;
}

/*** Env Design Section *****/

.action-environment_design-index #content{
  margin-top: 100px;
}
.action-environment_design-index .box-2{
  margin-top: 530px;
}

.action-environment_design-index .box-2 .block-outer:first-child{
  width: 480px;
}

.action-environment_design-index #box-organizer #agenda {
  width: 460px;
  border-right: 1px solid #bec8b7;
  border-left: 1px solid #bec8b7;
  padding-left: 20px;
  padding-top: 10px;
  height: 228px;
  background: #fff;
  z-index: 2;
}

.action-environment_design-index .box-2 .block-outer:nth-of-type(3){
  width: 500px;
  margin-left: 250px;
}

.action-environment_design-index #box-organizer #banner-7{
  margin-top: 0px !important;
}

.action-environment_design-index .box-1 .block-outer:first-child{
  width: 200px;
  margin-left: 350px;
}

.action-environment_design-index .box-1 .block-outer:nth-of-type(2){
  width: 505px;
  height: 400px;
  position: absolute;
  margin-top: -400px;
  margin-left:-180px
}

.action-environment_design-index .box-1 .block-outer:nth-of-type(3){
  width: 1024px;
  height: 100px;
  position: absolute;
  margin-top: 30px;
  margin-left:-210px
}

.action-environment_design-index .box-1 .block-outer:nth-of-type(4){
  margin-top: 150px;
  height: 280px;
}

.action-environment_design-index .box-1 .block-outer:nth-of-type(4) .button-bar{
  margin-left: 300px;
  width: 200px !important;
}

.action-environment_design-index #box-organizer #banner-4{
  width: 468px;
  height: 223px;
  padding: 36px 18px 0px 18px;
  border-bottom: 1px solid #bec8b7;
}

.action-environment_design-index #navigation-bar-2{
  background-color: #e3f4d7;
  height: 75px;
  width: 980px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-image: url('images/navigation-2-op-2.png');
}

.action-environment_design-index .box-3 .block-outer:first-child{
  margin-top: 230px;
}

.action-environment_design-index .block-outer .button-bar{
  z-index: 9;
}

.action-environment_design-index .box-3 .block-outer:nth-of-type(2){
  position: absolute;
  margin-top: -440px;
}

.action-environment_design-index .box-3 .block-outer:nth-of-type(2) .short-post p{
  display: none;
}

.action-environment_design-index .box-3 .block-outer:nth-of-type(3){
  margin-top: 110px;
}

.action-environment_design-index .box.box-3 .login-block{
  height: 240px;
  padding: 5px;
  border-bottom: 1px solid #bec8b7;
  border: none;
}

.action-environment_design-index .box.box-3 .login-block h2{
  color: #336b74;
  font-family: 'SansationFont';
  font-size: 14px;
  font-variant: normal;
  border-bottom: 1px solid #336b74;
  text-decoration: none;
  padding-bottom: 0px;
  padding-top: 6px;
}

.action-environment_design-index #box-organizer .block-title, .action-environment_design-index #box-organizer h2{
  color: #336b74;
  font-family: 'SansationFont';
  font-size: 16px;
  font-variant: normal;
  border-bottom: 1px solid #336b74;
  text-decoration:none;
  padding-top: 1px;
  margin:auto;
}

/************** Container block ****************/

.action-environment_design-index #content .container-block-plugin_container-block,
.action-home-index #content .container-block-plugin_container-block {
  width: 980px;
  height: 612px;
  margin: 0px 0px 5px;
  left: -10px;
  position: relative;
  background: #ffffff url("imgs/feira_livro-bg.png") no-repeat;
}

.action-environment_design-index #content .container-block-plugin_container-block {
  z-index: 10;
}

.action-environment_design-index #content .container-block-plugin_container-block .block-outer,
.action-home-index #content .container-block-plugin_container-block .block-outer {
  width: 50%;
  float: left;
}

.action-environment_design-index #content .container-block-plugin_container-block .block-target,
.action-home-index #content .container-block-plugin_container-block .block-target {
  display: none;
}

.action-environment_design-index #content .container-block-plugin_container-block h3,
.action-home-index #content .container-block-plugin_container-block h3 {
  color: #FFF;
  font-size: 28px;
  margin-left: 20px;
  margin-bottom: 5px;
  border-bottom: transparent;
}
.action-environment_design-index #content .container-block-plugin_container-block .radio-block h3,
.action-home-index #content .container-block-plugin_container-block .radio-block h3 {
  margin-bottom: 10px;
}

.action-environment_design-index #content .container-block-plugin_container-block .block-title,
.action-home-index #content .container-block-plugin_container-block .block-title {
  font-variant: normal;
}

.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block,
.action-environment_design-index #content .container-block-plugin_container-block .raw-html-block,
.action-home-index #content .container-block-plugin_container-block .raw-html-block {
  margin-top: 190px;
}
.action-environment_design-index #content .container-block-plugin_container-block .raw-html-block,
.action-home-index #content .container-block-plugin_container-block .raw-html-block {
  margin-left: 10px;
}
.action-environment_design-index #content .container-block-plugin_container-block .radio-block ul.ajs-controls,
.action-home-index #content .container-block-plugin_container-block .radio-block ul.ajs-controls {
  height: 65px;
}

.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block ul,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block ul,
.action-environment_design-index #content .container-block-plugin_container-block .radio-block ul.ajs-controls,
.action-home-index #content .container-block-plugin_container-block .radio-block ul.ajs-controls {

  background: url(imgs/feira-blocks-bg.png) center repeat;
  width: 400px;
  margin-left: 15px;
  border-radius: 10px;
  padding: 15px 20px 20px 35px;
}
.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block .block-footer-content,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block .block-footer-content {
  display: none;
}

.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block #link-radio-news,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block #link-radio-news {
  text-align: right;
  margin-right: 25px;
}

.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block a,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block a {
  color: #FFF;
}

.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block li,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block li {
  list-style-image: url('imgs/li-gray.gif');
}

.action-environment_design-index #content .container-block-plugin_container-block .feed-reader-block li:first-child,
.action-home-index #content .container-block-plugin_container-block .feed-reader-block li:first-child {
  list-style: none;
  margin-left: -18px;
  font-size: 17px;
}

/* * * Links on banner * * */

  .feira-links a,
  .feira-links a:hover,
  .feira-links span {
    color: transparent;
  }

  #who-feira {
    position: absolute;
    top: -200px;
    height: 160px;
    width: 280px;
    right: 200px;
    left: 465px;
  }

  .feira-links .footer {
    position: absolute;
    display: block;
    bottom: -194px;
    left: -5px;
    width: 980px;
  }

  .feira-links .footer a {
    display: inline-block;
    height: 65px;
  }

  #who-asl {
    margin-left: 67px;
  }

  #who-serpro {
    margin-left: 20px;
    width: 160px;
  }

  #who-diasp {
    margin-left: 78px;
    width: 45px;
  }

   #who-fb {
    margin-left: 10px;
    width: 45px;
  }

  #who-tt {
    margin-left: 15px;
    width: 45px;
  }

  #who-flickr {
    margin-left: 7px;
    width: 75px;
  }

  #who-cc {
    margin-left: 4px;
    width: 120px;
  }

/* * * Rádio SL, via audio.js * * */

#content .radio-block {
  position: relative;
}

#content .radio-block .block-title {
  margin: 0px;
}

#content .media-block .podcast-name {
  margin-top: -12px;
  font-size: 11px;
  font-style: italic;
  text-align: center;
  opacity: 0.85;
  color: #FFF;
  position: absolute;
  bottom: 15px;
  left: 115px;
}

#content .radio-block .participe {
  position: absolute;
  top: 145px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

#content .radio-block .participe .hashtag {
  font-size: 20px;
}

#content .radio-block .participe a {
  text-decoration: none;
  font-size: 24px;
}
#content .radio-block .participe a:hover,
#content .radio-block .participe a:visited {
  text-decoration: underline;
}

#content .radio-block .participe a,
#content .radio-block .participe a:hover,
#content .radio-block .participe a:visited {
  color: #FFF;
}

#content .radio-block .participe p {
  text-align: left;
  margin-left: 30px;
}

.ajs-controls {
  background: url(imgs/feira-blocks-bg.png) center repeat;
  height: 25px;
  padding: 15px 0px;
  margin: 0px;
}

.action-environment_design-index .ajs-controls:first-child {
  display: none;
}

.ajs-controls > li {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.ajs-controls > li.ajs-progress-control {
  display: none;
}

.ajs-controls > li.ajs-play-control {
  margin: 0px 0px 0px 10px;
  background: url(imgs/radio-play.png) center no-repeat;
  left: 5px;
  top: 15px;
  height: 70px;
  width: 70px;
}
.ajs-controls > li.ajs-play-control.ajs-pause {
  background: url(imgs/radio-pause.png) center no-repeat;
}

.ajs-controls > li.ajs-play-control span {
  display: none;
}

.ajs-controls > li.ajs-time-control {
  top: 30px;
  right: auto;
  left: 215px;
  color: #FFF;
  width: auto;
  font-size: 30px;
}

.ajs-controls > li.ajs-volume-control {
  right: 25px;
  display: none;
}

.ajs-volume-control ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 55px;
}

.ajs-controls .ajs-volume-control ul li {
  margin: 0px;
  width: 8px;
  height: 100%;
  border: none;
  background: transparent url(imgs/radio-volum-off.png) no-repeat;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -ms-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
.ajs-controls .ajs-volume-control ul li.ajs-volume-level-on:first-child {
  background-image: url(imgs/radio-volum.png);
  background-repeat: no-repeat;
  height: 51px;
  width: 65px;
}
.ajs-controls:hover .ajs-volume-control ul li.ajs-volume-level-on {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.ajs-volume-control ul li:nth-child(1) {
  padding-left: 3px;
  background-position:  3px 50%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
.ajs-volume-control ul li:nth-child(2) { background-position:  -8px 50% }
.ajs-volume-control ul li:nth-child(3) { background-position: -16px 50% }
.ajs-volume-control ul li:nth-child(4) { background-position: -24px 50% }
.ajs-volume-control ul li:nth-child(5) { background-position: -32px 50% }
.ajs-volume-control ul li:nth-child(6) { background-position: -40px 50% }

.ajs-time-control span {
  display: none;
}
.ajs-time-control span.ajs-current-time-display {
  display: inline;
}

/* Hotfix feito no servidor para organizar a capa */

.container-block-plugin_container-block .button-bar{
  position:absolute;
}
